<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Añadir Tarea
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="padding: 2em;">
  <form [formGroup]="tasks" (ngSubmit)="this.sendForm()">
    <ion-item>
      <ion-input type="text" formControlName="title" placeholder="Título"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea formControlName="description" placeholder="Descripción" autocapitalize="true" auto-grow="true">
      </ion-textarea>
    </ion-item>
    <div style="text-align: right;">
      <ion-button shape="round" color="primary" fill="outline" type="submit" [disabled]="!tasks.valid">Añadir
      </ion-button>
    </div>
  </form>
</ion-content>