<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      {{'ADD' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="padding: 2em;">
  <form [formGroup]="tasks" (ngSubmit)="this.sendForm()">
    <ion-item>
      <ion-input type="text" formControlName="title" [placeholder]="'TITLE' | translate"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea formControlName="description" [placeholder]="'DESCRIPTION' | translate" autocapitalize="true" auto-grow="true">
      </ion-textarea>
    </ion-item>
    <div style="text-align: right;">
      <ion-button shape="round" color="secondary" fill="outline" type="submit" [disabled]="!tasks.valid">{{'ADD' | translate}}
      </ion-button>
    </div>
  </form>
</ion-content>